script/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
script/.vs/ConsoleApp1/FileContentIndex/97fc742c-e2da-4096-9293-296ab5772bae.vsidx
script/.vs/ConsoleApp1/FileContentIndex/read.lock
script/.vs/ConsoleApp1/v17/.futdcache.v2
script/.vs/ConsoleApp1/v17/.suo
script/.vs/ProjectEvaluation/consoleapp1.metadata.v5.1
script/.vs/ProjectEvaluation/consoleapp1.projects.v5.1
script/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
script/ConsoleApp1/obj/project.assets.json
script/ConsoleApp1/obj/project.nuget.cache
script/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.assets.cache
script/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
script/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
script/.vs/ConsoleApp1/v17/.futdcache.v2
script/.vs/ConsoleApp1/v17/.suo
script/.vs/ProjectEvaluation/consoleapp1.metadata.v5.1
script/.vs/ProjectEvaluation/consoleapp1.projects.v5.1
script/.vs/ConsoleApp1/v17/.futdcache.v2
script/.vs/ConsoleApp1/v17/.futdcache.v2
bin/
obj/


